<h1> <%= @blogger.name %> </h1>

<h3><%= @blogger.likes_total %></h3>

<h3>Featured Post:</h3>

<div>
    <p><%= link_to @blogger.featured_post.title, post_path(@blogger.featured_post) %></p>
    <p><%= @blogger.featured_post.content %></p>
</div>